<form id='form' action='/basket/create-payment-intent' method='post'>
  <p class='amount'>Top up amount</p>
  <div class='money_input'>
    <div class='input-wrapper'>
      <input
        type='text'
        min='0.50'
        onkeyup='changeValue(event)'
        placeholder='0'
        id='amount'
      />
      <label for='amount' class='error'></label>
    </div>
    <div class='money_buttons'>
      <button type='button' onclick='setDonateAmount(50)'>+50$</button>
      <button type='button' onclick='setDonateAmount(100)'>+100$</button>
      <button type='button' onclick='setDonateAmount(150)'>+150$</button>
    </div>
    <div class='input-wrapper'>
      <input type='text' placeholder='First name' id='userName' />
      <label for='userName' class='error'></label>
    </div>
  </div>
  <textarea
    class='comment'
    placeholder='Comment'
    name=''
    id='comment'
    cols='30'
    rows='10'
  ></textarea>
  <div class='buttons'>
    <button type='submit' id='donate-button'>Donate</button>
    <div>
      <a href='{{{path}}}/login/{{{basketId}}}'>SingIn</a>
      <a href='{{{path}}}/register/{{{basketId}}}'>SingUp</a>
    </div>
  </div>
</form>