<div class='errorPage'>
  <img
    class='errorImg'
    src='https://media.tenor.com/fhuWmMp_jIIAAAAi/tears-cute.gif'
    alt='errorImg'
  />
  <div>
    <h1>Error</h1>
    <h2>Something went wrong</h2>
  </div>
</div>