<div class='modal'>
  <div class='first_block'>
    <h3 class="logo">HoneyMoney</h3>
    <div class="banka">
      <img  src='/img/Group 15.svg' alt='' />
    </div>
    <div class='content'>
      <div class='prev'>
        <img  src='/img/image 4.svg' alt='' />
        <p> Сегргій Притула створив збір</p>
        <h2>Ha пакети для орків</h4>
        <p>Збираємо на пакети для мобілізованих орків тому що орки свої не
          беруть
        </p>
      </div>
      <div class='statistic'>
        <span>
          <h4>Accumulated</h4>
          1$
        </span>
        <div>
        <hr>

        </div>
        <span>
          <h4>Goal</h4>
          2$
        </span>
      </div>
    </div>
  </div>
  <div class='second_block'>
    <p class="amount">Top up amount</p>
    <div class="money_input">
      <input type='text' placeholder="0 $" name='' id=''/>
      <div class="money_buttons">
        <button>50$</button>
        <button>100$</button>
        <button>150$</button>
      </div>
      <input type="text" placeholder="First name" name="" id="">
    </div>
    <textarea
      placeholder='Comment'
      name=''
      id=''
      cols='30'
      rows='10'
    ></textarea>
    <div class="buttons">
      <button>Donate</button>
      <div>
        <a href="#">SingIn</a>
        <a href="#">SingUp</a>
      </div>
    </div>
  </div>
</div>