<div class="successPage">
  <img
    class="successImg"
    src='https://papik.pro/en/uploads/posts/2022-06/1654763453_11-papik-pro-p-cute-piggy-drawing-11.png'
    alt='successImg'
  />
  <h1>Success donate</h1>
</div>