* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    90deg,
    #00a3ff 0%,
    #00a3ff 25%,
    #09a6ff 50%,
    rgba(53, 182, 255, 0.96) 75%,
    rgba(0, 163, 255, 0.73) 100%
  );
}

.container {
  display: grid;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  max-width: 1350px;
  min-width: 375px;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

.first_block {
  width: 100%;
  height: 100%;
  max-height: 750px;
  background-color: #eee;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template-rows: auto, 1fr 1fr;
  border-radius: 20px 0px 0px 20px;
}

.banka {
  text-align: center;
}

.logo {
  text-align: center;
  padding: 15px;
}

.creator {
  display: grid;
  grid-template-columns: auto 3fr;
}

.creator img {
  padding-left: 20px;
}

.prev h2 {
  text-align: center;
  padding: 5px;
}

.prev p {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}

.statistic {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid #acacac;
  border-radius: 15px;
  background-color: #fff;
  margin: 20px;
  height: 80px;
  width: 350px;
}

.statistic span {
  justify-content: center;
}

hr {
  height: 80px;
  width: 1px;
  border-width: 0;
  background-color: #808080;
}

.second_block {
  background-color: #fff;
  display: grid;
  grid-template-rows: auto ;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 750px;
  border-radius: 0px 20px 20px 0px;
  margin: 0 auto;
  row-gap: 15px;
}

.amount {
  font-weight: 400;
  padding: 15px;
}

.money_input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  row-gap: 25px;
}

.money_input button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-color: #aeaeae;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #aeaeae;
}

.money_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
}

input {
  color: #808080;
  max-width: 375px;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  border-color: #acacac;
  text-align: center;
  border: 1px solid #aeaeae;
}

textarea {
  max-width: 365px;
  max-height: 150px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #aeaeae;
  padding: 10px;
  font-size: 20px;
  color: #000;
}

.buttons {
  display: grid;
  align-items: center;
  row-gap: 20px;
}

.buttons button {
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  background-color: #c5c5c5;
  width: 375px;
  height: 50px;
  font-size: 20px;
  margin: 0 auto;
}

.buttons div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
  width: 375px;
  margin: 0 auto;
}

a {
  display: grid;
  align-items: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #00a3ff;
  border-radius: 10px;
  background-color: #00a3ff;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .modal {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    filter: none;
  }

  .first_block {
    width: 100vw;
    height: 100%;
    border-radius: 0px;
  }

  .second_block {
    height: 100%;
    border-radius: 0px;
  }
}
