<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    </head>
    <body>
        <div>
            <h1 class="link">{{restoreLink}}</h1>
        </div>
    </body>
</html>